<header>
 <h1>DBC Stack Overflow</h1>
</header>

<h2><%= @question.title%><br></h2>
<%= @question.content%>
<% if @answers == nil%>
<p>There are no answers to this question</p>
<%else%>
<ul>
<% @answers.each do |answer| %>
<li> <%=answer.content%> </li>
<%end%>
</ul>
<%end%>
