<header>
 <h1>DBC Stack Overflow</h1>
</header>

<form id="posts" method="post" action="/questions">
 <input type="text" name="title" placeholder="Question">
 <input type="submit" value="submit new post">
</form>